<h1>Listing objects</h1>
<table>
  <tr>
    <th>Object</th>
  </tr>
  
  <% @objects.each do |o| %>
  <tr>
    <td><a href="<%=request.url%>/../../<%=o.underscore%>s/<%=o.id%>"> <%=o.to_s%></a><br/></td>
  </tr>
  <% end %>
</table>

